# Cross Validation Exercises

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

from pydataset import data

import warnings
warnings.filterwarnings("ignore")

Use the cross validation techniques discussed in the lesson to figure out what kind of model works best with the cars dataset used in the lesson.

In [3]:
# import cars dataframe 

df = pd.read_csv('cars.csv')

In [7]:
# lowercase all the column names
df.columns = [c.lower() for c in df]

# make the id column the index
df.set_index('id', inplace=True)

# print out the shape 
print('{} rows x {} cols'.format(*df.shape))

# show the dataframe
df.head()

297899 rows x 8 cols

,price,year,mileage,city,state,vin,make,model
id,,,,,,,,
1,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,Buick,EncoreConvenience
2,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,Buick,EncoreFWD
3,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,Buick,EncoreLeather
4,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,Buick,EncoreFWD
5,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,Buick,EncoreConvenience

In [8]:
# create column of the average sales price for that year, make and model
df['avg_saleprice'] = df.groupby(['year', 'make', 'model']).price.transform('mean')

# create categorical variable that shows whether or not the car sold over the avg price 
# for that year make and model
df['gt_avg'] = (df.price > df.avg_saleprice).astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297899 entries, 1 to 297899
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   price          297899 non-null  int64
 1   year           297899 non-null  int64
 2   mileage        297899 non-null  int64
 3   city           297899 non-null  object
 4   state          297899 non-null  object
 5   vin            297899 non-null  object
 6   make           297899 non-null  object
 7   model          297899 non-null  object
 8   avg_saleprice  297899 non-null  float64
 9   gt_avg         297899 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 25.0+ MB